a {
  color: #1f1d25;
}

.header-button {
  cursor: pointer;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(#faca71, #fae571);
  border-radius: 4px;
  margin: 1rem 1rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  text-align: center;
}

.header-button:hover {
  box-shadow: 0px 0px 5px 5px #d6d5d4;
  animation: 2s buttonHover infinite;
}

.header-button_active {
  box-shadow: 0px 0px 5px 5px #d6d5d4;
  animation: 2s buttonHover infinite;
}

.mobile-button {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(#faca71, #fae571);
  border-radius: 4px;
  margin: 1rem 0;
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  cursor: pointer;
  text-align: center;
}

.mobile-button:hover {
  box-shadow: 0px 0px 5px 5px #3b0137;
}

.card-button {
  cursor: pointer;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background: linear-gradient(#faca71, #fae571);
  border-radius: 4px;
  margin: 1rem 1rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.card-button:hover {
  box-shadow: 0px 0px 5px 5px #8a5b5b;
}

.card-info__button {
  cursor: pointer;
  letter-spacing: 0.1rem;
  background: linear-gradient(#faca71, #fae571);
  border-radius: 4px;
  margin: 0 1rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

.card-info__button-order {
  cursor: pointer;
  letter-spacing: 0.1rem;
  background: linear-gradient(#faca71, #fae571);
  border-radius: 4px;
  margin: 0 1rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

.card-info__button-order:hover {
  box-shadow: 0px 0px 5px 5px #d6d5d4;
}

@keyframes buttonHover {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
